/*null style*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit.woff2") format("wooff2"), url("../fonts/Larsseit.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit-Medium.woff2") format("wooff2"), url("../fonts/Larsseit-Medium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit-Bold.woff2") format("wooff2"), url("../fonts/Larsseit-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
.wrapper {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.wrapper > main {
  flex-grow: 1;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 1160px;
  padding: 0 30px;
}

body {
  font-family: "Larsseit", serif;
}

.logo {
  color: #62d0df;
  font-weight: 900;
  font-size: 24px;
  line-height: 2;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .logo:hover {
    color: #22356f;
    transition: all 0.3s ease 0s;
  }
}

.header {
  z-index: 999;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  padding-top: 24px;
  padding-bottom: 24px;
}
@media (max-width: 419.98px) {
  .header {
    padding-top: 14px;
    padding-bottom: 14px;
  }
}
.header__container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 30px;
}
.header__logo {
  z-index: 1;
}
@media (max-width: 419.98px) {
  .header__logo {
    font-size: 16px;
    align-self: center;
  }
}
.header__menu {
  z-index: 0;
}
.header__menu::before {
  content: "";
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  background-color: transparent;
  z-index: 0;
}
@media (max-width: 767.98px) {
  .header__menu::before {
    background-color: rgba(244, 249, 226, 0.4666666667);
  }
}
@media (max-width: 419.98px) {
  .header__menu::before {
    height: 80px;
  }
}
.header__contact-us {
  z-index: 0;
  align-self: end;
  justify-self: end;
  background-color: #62d0df;
  color: #fff;
  font-size: 14px;
  line-height: 2;
  text-transform: uppercase;
  border-radius: 50px;
  padding: 11px 32px;
  white-space: nowrap;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .header__contact-us:hover {
    background-color: #22356f;
    transition: all 0.3s ease 0s;
  }
}
@media (max-width: 767.98px) {
  .header__contact-us {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
  }
}
@media (max-width: 419.98px) {
  .header__contact-us {
    line-height: 1;
    padding: 6px 10px;
    align-self: center;
    justify-self: center;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 767.98px) {
  .menu {
    grid-column-start: 3;
    grid-column-end: 4;
    align-self: end;
    justify-self: end;
  }
}
@media (max-width: 767.98px) {
  .menu__body {
    z-index: -1;
    position: fixed;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow: scroll;
    background-color: #f9b640;
  }
  .menu__body._active {
    left: 0;
  }
}
.menu__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 767.98px) {
  .menu__list {
    flex-direction: column;
    align-items: center;
  }
}
.menu__item:not(:last-child) {
  margin-right: 12px;
}
@media (max-width: 767.98px) {
  .menu__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 23px;
  }
}
.menu__link {
  display: inline-block;
  color: #22356f;
  font-size: 14px;
  line-height: 1.2; /* 16px/14 */
  position: relative;
  transition: all 0.3s ease 0s;
  transform: scale(1);
}
@media (any-hover: hover) {
  .menu__link {
    transition: all 0.3s ease 0s;
  }
  .menu__link:hover {
    font-weight: 600;
  }
  .menu__link:hover::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    bottom: -15px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #22356f;
  }
}
@media (max-width: 767.98px) {
  .menu__link {
    font-size: 48px;
  }
}

.icon-menu {
  display: none;
  background-color: transparent;
}
@media (max-width: 767.98px) {
  .icon-menu {
    display: block;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 767.98px) and (any-hover: hover) {
  .icon-menu:hover span,
  .icon-menu:hover span::before,
  .icon-menu:hover span::after {
    background-color: #22356f;
    transition: all 0.3s ease-in-out 0s;
  }
  .icon-menu:hover span {
    transform: scaleX(1.1);
    transition: all 0.3s ease 0s;
  }
  .icon-menu:hover span::before {
    transform: scaleX(0.8);
    transition: all 0.3s ease 0s;
  }
  .icon-menu:hover span::after {
    transform: scaleX(0.8);
    transition: all 0.3s ease 0s;
  }
  .icon-menu:active span,
  .icon-menu:active span::before,
  .icon-menu:active span::after {
    background-color: #f9b640;
  }
}
@media (max-width: 767.98px) {
  .icon-menu._active span,
  .icon-menu._active span::before,
  .icon-menu._active span::after {
    background-color: #22356f;
    transition: all 0.3s ease 0s;
  }
  .icon-menu._active span {
    background-color: transparent;
    transition: all 0.3s ease 0s;
  }
  .icon-menu._active span::before {
    top: 0;
    transform: rotate(-45deg);
    transition: all 0.3s ease 0s;
  }
  .icon-menu._active span::after {
    top: 0;
    transform: rotate(45deg);
    transition: all 0.3s ease 0s;
  }
}
@media (max-width: 767.98px) {
  .icon-menu span {
    position: relative;
    display: inline-block;
    height: 5px;
    width: 50px;
    border-radius: 3px;
    background-color: #62d0df;
    transition: all 0.3s ease 0s;
  }
  .icon-menu span::before, .icon-menu span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 5px;
    width: 50px;
    border-radius: 3px;
    background-color: #62d0df;
    transition: all 0.3s ease 0s;
  }
  .icon-menu span::before {
    top: -9px;
  }
  .icon-menu span::after {
    bottom: -9px;
  }
}

.section-main {
  padding-bottom: 75px;
  position: relative;
}
@media (max-width: 900px) {
  .section-main {
    padding-top: 0px;
    padding-bottom: 50px;
  }
}
.section-main::before {
  content: "";
  height: 100%;
  width: 77.569444%; /* 1117px/1440 */
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f4f9e2;
  z-index: -1;
}
@media (max-width: 900px) {
  .section-main::before {
    width: 100%;
  }
}
.section-main__container {
  padding-top: 240px;
  position: relative;
  display: flex;
}
@media (max-width: 900.98px) {
  .section-main__container {
    padding-top: 400px;
  }
}
.section-main__content {
  flex: 1 1 50%;
}
.section-main__image-dec {
  position: absolute;
  width: 971.96px;
  height: calc(100% + 36px);
  right: -280px;
  top: 0;
  z-index: -1;
}
@media (max-width: 1300px) {
  .section-main__image-dec {
    width: 939.96px;
    height: calc(100% + 36px - 200px);
    top: 145px;
  }
}
@media (max-width: 1100px) {
  .section-main__image-dec {
    width: 889.96px;
    height: calc(100% + 36px - 200px);
    top: 145px;
  }
}
@media (max-width: 987.98px) {
  .section-main__image-dec {
    width: 789.96px;
    height: calc(100% + 36px - 200px);
    top: 195px;
  }
}
@media (max-width: 900.98px) {
  .section-main__image-dec {
    width: 689.96px;
    height: calc(100% + 36px - 200px);
    top: 0px;
    right: -160px;
  }
}
.section-main__image-dec:before, .section-main__image-dec::after {
  content: "";
  position: absolute;
  display: block;
  width: 807.71px;
  height: 544.93px;
  left: 117px;
  top: 42.85px;
  background: #edfdff;
  border-radius: 312.159px;
  transform: rotate(-53deg);
  z-index: 1;
}
@media (max-width: 1300px) {
  .section-main__image-dec:before, .section-main__image-dec::after {
    width: 507.71px;
    height: 344.93px;
    top: 42px;
    right: 0;
  }
}
.section-main__image-dec::after {
  left: 117px;
  top: 112.85px;
  background: #ffe2de;
  border-radius: 312.159px;
  transform: rotate(-25deg);
  z-index: 2;
}
@media (max-width: 1300px) {
  .section-main__image-dec::after {
    top: 80px;
    right: 0;
  }
}
.section-main__image-container {
  overflow: hidden;
  position: absolute;
  width: 807.71px;
  height: 544.93px;
  left: 117px;
  top: 112.85px;
  border-radius: 312.159px;
  transform: rotate(-25deg);
  z-index: 6;
}
@media (max-width: 1300px) {
  .section-main__image-container {
    width: 507.71px;
    height: 344.93px;
    top: 80.85px;
  }
}
.section-main__image-container img {
  transform: rotate(25deg);
  width: 1126px;
  position: absolute;
  top: -190px;
  left: -290px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -3;
}
@media (max-width: 1300px) {
  .section-main__image-container img {
    width: 900px;
  }
}

.content {
  max-width: 484px;
  color: #22356f;
}
@media (max-width: 900px) {
  .content {
    max-width: 100%;
  }
}
.content a.logo {
  display: block;
  margin-bottom: 40px;
  line-height: 1;
}
.content__title {
  font-size: 48px;
  line-height: 110.416667%; /* 53/48 */
  letter-spacing: -0.035em;
}
.content__title:not(:last-child) {
  margin-bottom: 90px;
}
.content__text {
  font-size: 24px;
  line-height: 42px;
}
.content__text:not(:last-child) {
  margin-bottom: 63px;
}
.content__list {
  display: flex;
  justify-content: start;
}
@media (max-width: 900px) {
  .content__list {
    width: 100%;
    justify-content: center;
  }
}
.content__list-item a {
  display: inline-block;
  color: #f9b640;
  font-size: 16px;
  line-height: 1.5; /* 23px/16 */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 13px 31px;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .content__list-item a:hover {
    color: #fff;
    background-color: #f9b640;
    transition: all 0.3s ease 0s;
  }
}

.footer {
  background-color: #62d0df;
  padding: 24px 0;
}
.footer__copyright {
  font-weight: bold;
  color: #fff;
  line-height: 11px;
  letter-spacing: -0.006em;
  color: #ffffff;
}